.tree-1-1{
    background-image:url(../images/1.1.gif) !important;
}

.tree-1-2{
    background-image:url(../images/1.2.gif) !important;
}

.tree-1-3{
    background-image:url(../images/1.3.gif) !important;
}

.tree-2-1{
    background-image:url(../images/2.1.gif) !important;
}

.tree-2-2{
    background-image:url(../images/2.2.gif) !important;
}

.tree-3-1-1{
    background-image:url(../images/3.1.1.gif) !important;
}

.tree-3-1-2{
    background-image:url(../images/3.1.2.gif) !important;
}

.tree-3-1-3{
    background-image:url(../images/3.1.3.gif) !important;
}

.tree-3-2{
    background-image:url(../images/3.2.gif) !important;
}

.tree-3-3{
    background-image:url(../images/3.3.gif) !important;
}

.icon-uzb{
	background-image:url(../images/uzb.gif) !important;
}

.icon-rus{
	background-image:url(../images/rus.gif) !important;
}

.icon-eng{
	background-image:url(../images/eng.gif) !important;
}

.fon{
	background-color: white; /*#D9E7F8;*/
}